:root{
    /*
    anciennes couleurs: 
    --couleurPrincipale: rgb(32, 1, 31);
    --couleurOmbres: rgb(94, 3, 89);
    --couleurContenant: rgb(48, 2, 47);
    --couleurEffet: rgb(42, 0, 40);
    */

    --couleurPrincipale: rgb(1, 48, 62);
    --couleurOmbres: rgb(3, 73, 105);
    --couleurContenant: rgb(2, 33, 48);
    --couleurEffet: rgb(0, 28, 42);
}




body{
    background-color: var(--couleurPrincipale);
}

main{
    justify-content: space-between;
}

header{
    color:white;
    justify-content: space-evenly;
    display: flex;
    align-items: center;
}

aside{
    display: flex;
    justify-content: center;
    gap: 50px;
}


q{
    font-style: italic;
    opacity: 0;
    animation: fadeIn 2s 3s forwards;
}

span{
    display: block;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
    height: 0px;
    width: 0px;
    color: white;
    border-radius: 10px 10px 0 10px;
    border: 3px;
    opacity: 0;
    box-shadow:  
    inset 0px 0px 10px rgb(0, 81, 115),
    0px 0px 200px var(--couleurPrincipale);

    overflow: hidden;

    animation:
    unfold 0.5s 2.5s forwards,
    fadeIn 2s 2.5s forwards;
}


@keyframes unfold{
    from{
        height: 0px;
        width: 0px;
    } to{
        height: 63px;
        width: 400px;
    }
}

.dialogue{
    height: 0;
    width: 0;
    border-color: white;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top:  5px solid;
    border-bottom: none;
    
    margin-left: auto;
    margin-right: 25px;
    margin-top: -2px;
    animation: clignotement 0.8s 4s infinite;
}

@keyframes clignotement{
    0%{
        margin-top: -8px;
    }

    20%{
        margin-top: -8px;
    }

    40%{
        margin-top: -8px;
    }

    60%{
        margin-top: -8px;
    }

    80%{
        margin-top: -8px;
    }
    81%{
        margin-top: -6px;
    }

    100%{
        margin-top: -6px;
    }
}


.logo{
    height: 125px;
    width: 125px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow:   0px 0px 25px var(--couleurOmbres);
    background-color: var(--couleurContenant);

    transition: 0.3s;

    animation: 
    flipImg 2s forwards;
} 




.logo>img{
    max-height: 100px;
    max-width: 100px;
    opacity: 0;
    animation: 
    fadeIn 0s 0.91s forwards;
}

.filter{
   filter: brightness(350%)  hue-rotate(130deg);
   transition: 0.2s;
   height: 100%;
}
.logo:hover .filter{
    filter: none;
    transition: 0.2s;
}

.logo:hover{
    background-color: white;
    padding: -3px;
    transition: 0.3s;
}



.nom{
    font-size: 25px;
}
.portrait{
    border-radius: 50%;
    height: 150px;
    box-shadow:   0px 0px 75px var(--couleurOmbres);
    
    animation: 
    fadeIn 2s;
}

.icone{
    height:15px;
    padding-top:5px;
    
    filter:invert()
}
.sansPuce{
    list-style-type: none;
}



section{
    flex: 1 1 0px;
    display: flex;
    flex-direction: column;
    padding:20px;
    margin:5px;
    background-color: rgb(223, 223, 223);
    border: var(--couleurPrincipale) 1px solid;
    justify-content: space-between;
    box-shadow:   0px 0px 10px var(--couleurOmbres);
}
.blank{
    background: linear-gradient(var(--couleurPrincipale));
    box-shadow: none;
}
.interet{
    font-size: 0.8rem;
    padding: 5px 5px 5px 15px;
    
}

section div,section article,article li, section li{
    opacity: 0;
    animation: fadeIn 0.5s 2.2s forwards ;
}


article{
    display:list-item;
    list-style-type: square;
    padding: 5px;
}

li{
    list-style-type: disclosure-closed;
    padding: 5px;
}

div{
    display: block;
    margin-bottom: 5px;
    padding-bottom: 5px;
    border-bottom: 1px solid black;
    font-family: system-ui;
}



.licence{
    font-size: 17px;
    font-weight: 550;
}

@keyframes fadeIn{
    from{opacity:0} to{opacity: 1};
}

@keyframes flipImg {
    from{transform:rotateY(0);} to{transform:rotateY(360deg)}
}

@keyframes PortraitSlideLeft{
    from{margin-right:+250px} to{};
}
@keyframes PortraitSlideRight{
    from{margin-left:+250px} to{};
}

@keyframes LandscapeSlideLeft{
    from{margin-right:+250px} to{margin-right:0};
}
@keyframes LandscapeSlideRight{
    from{margin-left:+250px} to{margin-left:0};
}

@keyframes LandscapeSlideBottom{
    from{
        margin-top:-200px;
        margin-bottom:+200px;
    } 
    to{};
}
@keyframes BlackAndWhite{
    from{}
    to{
        background-position:right;
    }
}




@media all and (min-width: 850px){
    .nom{
        animation:
        LanscapeSlideBottom 2s,
        fadeIn 2s;
    }
    main{
        display: flex;
    }
    header{
        margin-bottom:50px;
    }
    .portrait{
        animation:
        LandscapeSlideBottom 0.8s,
        fadeIn 2s;
    }
    .sansPuce{
        animation:
        LandscapeSlideRight 1s,
        fadeIn 2s;
    }
    .nom{
        animation:
        LandscapeSlideLeft 1s,
        fadeIn 2s;
    }
    section{
        background: linear-gradient( 30deg,white , white, var(--couleurEffet) , white,white) left;
        background-size: 900%;
    }
    section:nth-child(1){
        margin-right:+250px;
        opacity: 0;
        animation: 
        LandscapeSlideLeft 0.8s 1s forwards,
        BlackAndWhite 0.8s  2s forwards,
        fadeIn 0.8s 1s ease-in forwards;
    }
    section:nth-child(2){
        opacity: 0;
        animation: 
        BlackAndWhite 0.8s  2s forwards,
        fadeIn 0.8s 1s ease-in forwards;
    }
    
    section:nth-child(3){
        margin-left:+250px;
        opacity: 0;
        animation: 
        LandscapeSlideRight 0.8s 1s forwards,
        BlackAndWhite 0.8s  2s forwards,
        fadeIn 0.8s 1s ease-in forwards;
        
    }



    /*
@keyframes LandscapeSlideLeft{
    from{margin-right:+250px} to{};
}
@keyframes LandscapeSlideRight{
    from{margin-left:+250px} to{};
}
    */

    
}

@media all and (max-width: 850px){
    main{
        display: block;
    }
    header{
        margin-bottom:25px;
        display: flex;
        flex-direction: column;
    }
    
    .sansPuce:nth-child(1){
        animation : 
        PortraitSlideRight 1.5s forwards,
        fadeIn 1.5s forwards;
    }
    .sansPuce:nth-child(2){
        
        animation :
        PortraitSlideLeft 1.5s,
        fadeIn 1.5s;
    }
    .sansPuce:nth-child(3){
        animation : 
        PortraitSlideRight 1.5s forwards,
        fadeIn 1.5s forwards;
    }
    .nom{
        animation:fadeIn 2s;
    }
    
    section{
        background: linear-gradient( 30deg,white , white, var(--couleurEffet) , white,white) left;
        background-size: 900%;
    }
    .blank{
        background: linear-gradient(var(--couleurPrincipale));
        border-color: var(--couleurPrincipale);  
        box-shadow: none;
    }
    section:nth-child(1){
        animation: 
        LandscapeSlideLeft 0.8s,
        BlackAndWhite 0.8s  1s forwards,
        fadeIn 0.8s ease-in forwards;
    }
    
    
    
    
}


