body{
    background-color: rgb(32, 1, 31);
}
main{
    display:flex;
    justify-content: space-between;
}
header{
    color:white
}
section{
    flex: 1 1 0px;
    padding:20px;
    background-color: rgb(223, 223, 223);
    border: rgb(32, 1, 31) 1px solid;
}
li{
    list-style-type: square;
}

.interet{
    flex: 0.5 0 0px;

}