body{
    background-color: rgb(32, 1, 31);
}

main{
    display:;
    justify-content: space-between;
}

header{
    color:white
}

section{
    flex: 1 1 0px;
    display: flex;
    flex-direction: column;
    padding:20px;
    background-color: rgb(223, 223, 223);
    border: rgb(32, 1, 31) 1px solid;
    justify-content: space-between;
}

article{
    display:list-item;
    list-style-type: square;
    padding: 5px;
}

li{
    list-style-type: disclosure-closed;
    padding: 5px;
}

div{
    display: block;
    margin-bottom: 5px;
    padding-bottom: 5px;
    border-bottom: 1px solid black;
    font-family: 'Times New Roman', Times, serif;
}

.interet{
    flex: 0.5 0 0px;
}

/*
@media screen and (min-resolution: 500px){
    main{
        display: flex;
    }
}
/*
@media screen and (max-resolution: 300dpi){
    main{
        display: flex;
    }
}